<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Sassid - Portfolio, 2024</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="SassId, 2024" />
    <meta
      name="description"
      content="Crafting code with a creative flair and finesse for standout digital experiences. Dependable Designs, Smooth Solutions"
    />
    <link rel="stylesheet" href="../assets/css/style.css" />
    <link rel="stylesheet" href="../assets/css/about.css" />
    <script src="../assets/js/main.js"></script>
  </head>

  <body>
    <header>
      <div>
        <a class="logo" href="../index.html">sassid</a>
      </div>
      <div class="right-navigation">
        <a class="right-links" href="./portfolio.html">Porfolio</a>
        <!-- <a class="right-links" href="./about.html">About</a> -->
        <a class="right-links" href="./contact.html">Contact</a>
      </div>
    </header>

    <main>
      <section class="about">
        <div class="hello-container">
          <div class="hello">
            <h1>Hello,</h1>
          </div>
        </div>
        <div class="main-part">
          <p>Welcome to my portfolio!</p>
          <p>
            I'm Sassid, a Web Developer with a unique and diverse professional
            journey that has shaped my skills and passions in unparalleled ways.
          </p>
          <p>
            My career path is anything but typical: from managing accounts in
            insurance companies to writing, composing and recording songs, up to
            working as a social worker in public schools, I've explored a
            variety of fields that have honed my inherent qualities.
            <br />
            These experiences have cultivated my rigor, creativity,
            problem-solving abilities, communication skills, and adaptability.
          </p>
          <p></p>
          <p>
            In the realm of web development, I specialize in bridging the gap
            between front-end design and back-end functionality. <br />
            My expertise lies in connecting the aesthetic, user-friendly aspects
            of UI/UX with the robust, intricate programming of back-end systems.
          </p>
          <p>
            As a user myself, I never lose sight of the importance of a
            seamless, intuitive interface. <br />
            At the same time, my curiosity drives me to delve deep into the
            mechanics behind the scenes, constantly learning and understanding
            the vast, hidden parts of the web development iceberg.
          </p>
          <p>
            My goal is to find innovative solutions that delight all
            stakeholders involved, using my wit and outside-the-box thinking.
            I'm passionate about crafting web experiences that are both
            functional and beautiful, ensuring that every project I undertake
            exceeds expectations.
          </p>
          <p>
            Beyond my professional pursuits, I'm a curious soul with a love for
            life, people (human or not) and their stories. I'm an avid music lover, gamer, and
            creator, deeply passionate about computer science, foreign
            languages, myths, and tales. I strive to help, elevate, and honor
            those who have inspired me along the way.
          </p>
          <p>
            Thank you for visiting my portfolio. I look forward to the
            possibility of collaborating and bringing your vision to life with
            creativity and precision.
          </p>
        </div>
      </section>
    </main>

    <footer>
      <p>Sassid Dev&Designs, Copyright 2024</p>
    </footer>
  </body>
</html>

<!-- TODO -->
<!-- compose a nice text about you, your background and your professional path up till now -->
