<!DOCTYPE html>
<html lang="en">
  <head>
    <title>SassId - Portfolio, 2024</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="SassId, 2024" />
    <meta
      name="description"
      content="Crafting code with a creative flair and finesse for standout digital experiences. Dependable Designs, Smooth Solutions"
    />
    <link rel="stylesheet" href="../assets/css/style.css" />
    <link rel="stylesheet" href="../assets/css/contact.css" />
    <script src="../assets/js/main.js"></script>
  </head>

  <body>
    <header>
      <div>
        <a class="logo" href="../index.html">sassid</a>
      </div>
    </header>

    <main>
      <h2>You have a Project, a Request, a Company ?</h2>
      <h1>You need a designer, a programmer who’s trustworthy ?</h1>
      <h2>I’m here for you, you can reach me !</h2>
      <p>
        Email: sassiddevandesigns<!-- obfuscating -->@<!-- obfuscating -->gmail.com
      </p>
    </main>
  </body>
</html>
