<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Sassid - Portfolio, 2024</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="SassId, 2024" />
    <meta
      name="description"
      content="Crafting code with a creative flair and finesse for standout digital experiences. Dependable Designs, Smooth Solutions"
    />
    <link rel="stylesheet" href="../assets/css/style.css" />
    <link rel="stylesheet" href="../assets/css/contact.css" />
    <script src="../assets/js/main.js"></script>
  </head>

  <body>
    <header>
      <div>
        <a class="logo" href="../index.html">sassid</a>
      </div>
      <div class="right-navigation-links">
        <a class="about-contact" href="./about.html">About</a>
        <a class="about-contact" href="./contact.html">Contact</a>
      </div>
    </header>

    <main>
      <h2 class="up-text">You have a Project, a Request, a Company ?</h2>

      <section class="diagonal1">
        <div class="wrapper"></div>
        <h1 class="section-title">
          You need a designer, a programmer with a visual identity ?
        </h1>
      </section>

      <h2 class="down-text">I’m here for you, you can reach me !</h2>

      <section class="spikes">
        <div class="wrapper">
          <p>
            Email: <br />
            sassid<!-- obfuscating -->.devandesigns<!-- obfuscating -->@<!-- obfuscating -->gmail.com
          </p>
        </div>
      </section>
    </main>

    <footer>
      <p>Sassid Dev&Designs, Copyright 2024</p>
    </footer>
  </body>
</html>
