main {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  text-align: center;
  padding: 5px;
}

main h1 {
  /* border: solid blue; */
  color: white;
  font-size: clamp(1.5rem, 2vw + 1rem, 4rem);
}

main h2 {
  font-size: clamp(1.5rem, 1rem, 4rem);
  padding: 2rem;
}

.wrapper {
  max-width: 80%;
  margin-inline: auto;
}

.diagonal1 {
  position: relative;
  padding-block: 5rem;
}

.diagonal1::after {
  content: "";
  background: linear-gradient(
    -65deg,
    rgba(249, 198, 99, 1) 0%,
    rgba(254, 146, 196, 1) 35%,
    rgba(30, 175, 210, 1) 100%
  );
  position: absolute;
  z-index: -1;
  inset: 0;
  transform: skewY(-5deg);
}

.spikes {
  position: relative;
  padding-block: 5rem;
  background: rgb(249, 198, 99);
}

.spikes::before,
.spikes::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 30px;
  background: light-dark(var(--light-bg), var(--dark-bg));
  -webkit-mask-image: url(../svg/triangle.svg);
  mask-image: url(../svg/triangle.svg);
}

.spikes::before {
  top: 0;
  left: 0;
}

.spikes::after {
  bottom: 0;
  left: 0;
  transform: rotate(180deg);
}

.spikes p {
  /* border: solid red; */
  font-family: "Gruppo", sans-serif;
  font-weight: bold;
  font-size: clamp(15px, 20px, 20px);
  padding: 5px;

}

/* TODO */
/* fix you last p (email) is not responsive */

@media screen and (max-width: 420px) {
  .spikes p {
    font-size: 15px;
  }
}