.main-portfolio h1 {
  text-align: center;
  font-family: "Gruppo", Arial, Helvetica, sans-serif;
  margin-block: 50px;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 60vh;
}

.container {
  display: flex;
  justify-content: start;
  flex-wrap: nowrap;
  height: 400px;
}

.card {
  display: flex;
  align-items: flex-end;
  width: 80px;
  border-radius: 0.75rem;
  background-size: cover;
  cursor: pointer;
  overflow: hidden;
  border-radius: 2rem;
  margin: 0 10px;
  transition: 0.6s cubic-bezier(0.28, -0.03, 0, 0.99);
  box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.8);
}

.card > .row {
  display: flex;
  flex-wrap: nowrap;
  color: #fafafa;
}

.card > .row > .icon {
  justify-content: center;
  align-items: center;
  display: flex;
  background: #1b1b1b;
  color: white;
  border-radius: 50%;
  width: 50px;
  margin: 15px;
}

.card > .row > .description {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: start;
  overflow: hidden;
  height: 100px;
  width: 520px;
  padding: 20px;
  opacity: 0;
  transform: translateY(30px);
  transition-delay: 0.3s;
  transition: all 0.3s ease;
}

.description p {
  color: #fafafa;
  padding: 5px;
  margin: 2px;
  border-radius: 10px;
  background-color: #1b1b1b;
  width: fit-content;
  font-family: "Gruppo", sans-serif;
}

.description h4 {
  text-transform: uppercase;
  color: #fafafa;
  background-color: #1b1b1b;
  width: fit-content;
  padding: 5px;
  border-radius: 10px;
  font-family: sans-serif;
}

.description a {
  width: fit-content;
  border-radius: 10px;
  border: 1px solid #1b1b1b;
  background-color: rgb(249, 198, 99);
  color: #1b1b1b;
  padding: 5px;
  font-family: sans-serif;
}

.description a:hover {
  background-color: #1b1b1b;
  color: rgb(249, 198, 99);
  transition: color 300ms, background-color 300ms;
}

input {
  display: none;
}

input:checked + label {
  width: 600px;
}

input:checked + label .description {
  opacity: 1 !important;
  transform: translateY(0) !important;
}

.card[for="c1"] {
  background-image: url("../img/cards/preview-ff7remake.png");
  background-position: center;
}
.card[for="c2"] {
  background-image: url("../img/cards/preview-product-page.png");
  background-position: center;
}
.card[for="c3"] {
  background-image: url("../img/cards/preview-konoha.png");
  background-position: center;
}

@media screen and (max-width: 814px) {
  .container {
    flex-direction: column;
    align-items: center;
    padding: 10px;
  }

  .card {
    margin: auto;
    width: 40%;
  }

  input:checked + label {
    width: 60%;
  }

  .description p {
    font-size: 13px;
  }
}
